


/* ============================================= */ 
/* Colors */
/* ============================================= */


$color-1: #58e1c1;
$color-2: #51ddfc;

/* ============================================= */ 
/* Color Buttons */
/* ============================================= */
$back-1: #927bc1;
$back-2: #fd7856;
$back-3: #deb2ee;
$back-4: $color-2;
$back-5: $color-1;

/* ============================================= */ 
/* Color Buttons for Grid System */
/* ============================================= */
$back-1-l: lighten($back-1, 10%);
$back-2-l: lighten($back-2, 10%);
$back-3-l: lighten(#e4757a, 10%);
$back-4-l: lighten($back-4, 10%);
$back-5-l: lighten(#63cc82, 10%);

/* ============================================= */ 
/* Media Query Breakpoints */
/* ============================================= */


$brk-wide: '(min-width: 768px)';
